* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Josefin Slab', serif;
}
body {
    width: 100%;
    max-width: 100%;
    background-color: white;
}
/*------Nav Menu------*/
.navbar {
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: black;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}
/*Button Dropdown*/
nav .dropdown {
    background-color: black;
    border: 2px solid goldenrod;
    z-index: 2;
    position: relative;
    top: 0.5rem;
}
nav .dropdown i {
    color: goldenrod;
}
/*Menu Dropdown*/
nav .dropdown-menu{
    border: 2px solid goldenrod;
    border-radius: 3rem;
    background-color: white;
    position: absolute;
    width: auto;
} 
.dropdown-divider {
    background-color: goldenrod;
    height: 2px;
}
nav li a {
    font-size: 2rem;
}
nav .dropdown li i {
    color: goldenrod;
    font-size: 2.5rem;
}
/*Title*/
nav h1 a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    position: relative;
    right: 7rem;
    bottom: 0.3rem;
}
nav h1 a:hover {
    color: white;
}
#menu-lg, #overlay-menu{
    display: none;
}
/*------End Nav Menu------*/

/*------Start Slider-----*/
.carousel-item img {
    height: 20rem;
}
.carousel-caption h2 {
    position: relative;
    top: 2rem;
    z-index: 1;
    color: white;
}
.overlay {
    width: 100%;
    height: 4rem;
    background: #000;
    opacity: 0.4;
    position: relative;
    top: -4rem;
}
/*-----End Slider-----*/

/*-----Start Box-Info-----*/
.box-info {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 4rem;
    background: goldenrod;
    border: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.box-info h3 {
    color: black;
    margin-left: 2rem;
    margin-top: 0.5rem;
    font-weight: 600;
}
.box-info a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.box-info a:hover {
    color: black;
    background-color: transparent;
}
.icon{
    margin-right: 0.2rem;
}
.ico{
    margin-right: 0.2rem;
    position: relative;
    bottom: 0.09rem;
}
#hour{
    display: none;
}
/*-----End Box-Info-----*/

/*-----Start Table Vista-----*/
section.table-vista {
    background-color: white;
    width: 100%;
    height: 6rem;
    position: relative;
    bottom: 2rem;
    border: 2px solid goldenrod;
}
section div.table-title {
    background-color: white;
    width: 80%;
    height: 2rem;
    position: relative;
    bottom: 1rem;
    left: 2rem;
}
.table-title h2 {
    color: goldenrod;
    height: 2.5rem;
    position: relative;
    font-size: 2rem;
    text-align: center;
    border: 2px solid black;
}
section a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    position: relative;
    left: 1rem;
    bottom: 0.5rem;
}
section a:hover{
    color: white;
    background: transparent;
}
section div.table-text{
    display: none;
}
/*-----End Table Vista-----*/

/*-----Button Reservation-----*/
#reservation {
    color: white;
    background-color: black;
    font-size: 1.5rem;
    border: 2px solid goldenrod;
    position: relative;
    left: 2.5rem;
}
.container{
    max-height: 15rem;
    margin-bottom: 1rem;
}
#card-img {
    height: 15rem;
    margin-top: 0.5rem;
}
/*Formulaire de Reservation*/
.card-content {
    display: inline-block;
    position: relative;
    left: 0.8rem;
    bottom: 14.2rem;
    border: 2px solid goldenrod;
    padding: 10px;
}
.card-content h3 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.form-row select {
    color: white;
    background-color: transparent;
    padding: 8px 12px;
    border: 2px solid goldenrod;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    font-size: 1.3rem;
    width: 7.5rem;
}
#option {
    color: black;
    background-color: white;
}
.form-row input {
    color: white;
    border: 2px solid goldenrod;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 8px 12px;
    width: 7.5rem;
    margin-top: 0.5rem;
    background-color: transparent;
    font-size: 1.3rem;
}
::-webkit-input-placeholder {
    color: white;
  }
#submit{
    width: 100%;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid white;
}
#submit:hover{
    background-color: white;
    color: black;
}
/*Chef Info*/
.chef-img{
    width: 92.5%;
    margin-left: 0.73rem;
}
.chef-info {
    display: none;
}
/*-----End Button Reservation-----*/

/*-----hour-----*/
#hour{
    display: none;
}

/*-----Footer-----*/
footer {
    margin-top: 0.5rem;
    height: 9rem;
    background: #000;
    color: white;
}
.row{
    text-align: left;
    font-size: 0.8rem;
}
#footer-text{
    display: none;
}
#col-1{
    text-align: left;
    margin-top: 1rem;
}
#col-2{
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}
#col-3{
    margin-top: 1rem;
}

@media screen and (min-width: 375px) {
    nav h1 a {
        position: relative;
        right: 8.5rem;
        bottom: 0.3rem;
    }
    .box-info h3 {
        margin-bottom: 1rem;
        margin-left: 3.5rem;
    }
    section a {
        font-size: 1.5rem;
        position: relative;
        left: 2.5rem;
        bottom: 0.5rem;
    }
    #reservation {
        position: relative;
        left: 4rem;
    }
    .chef-img{
        margin-left: 0.9rem;
    }
    .card-content {
        width: 95%;
        display: inline-block;
        position: relative;
        left: 0.6rem;
        bottom: 14.3rem;
    }
    .form-row select {
        padding: 8px 12px;
        font-size: 1.3rem;
        width: 9.5rem;
    }
    .form-row input {
        width: 9.5rem;
    }
}

@media screen and (min-width: 425px) {
    .navbar {
        height: 4rem;
        border-top: 4px solid goldenrod;
        border-bottom: 4px solid goldenrod;
    }
    nav h1 a {
        position: relative;
        right: 9rem;
        bottom: 0.3rem;
        font-size: 3.5rem;
    }
    nav .dropdown {
        border: 4px solid goldenrod;
    }
    nav .dropdown i {
        font-size: 2rem;
    }
    .dropdown-divider {
        height: 4px;
    }
    nav li a {
        font-size: 3rem;
    }
    nav .dropdown li i {
        font-size: 3rem;
    }
    .carousel-item img {
        height: 25rem;
        width: 100%;
    }
    .carousel-caption h2 {
        position: relative;
        top: 2.7rem;
        font-size: 2rem;
    }
    .box-info h3 {
        margin-bottom: 1rem;
        margin-left: 4.5rem;
    }
    .box-info a {
        display: block;
        width: 80%;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
    section a {
        position: relative;
        left: 3.5rem;
    }
    .container{
        max-height: 18rem;
        margin-bottom: 1rem;
    }
    #card-img {
        height: 18rem;
        margin-top: 0.5rem;
    }
    #reservation {
        position: relative;
        left: 2.5rem;
        padding: 0.5rem 2rem;
        font-size: 2rem;
    }
    .card-content h3 {
        font-size: 2.5rem;
    }
    .chef-img{
        width: 94%;
        margin-left: 0.8rem;
    }
    .card-content {
        width: 95%;
        height: 16rem;
        position: relative;
        bottom: 17rem;
    }
    .form-row select {
        width: 11rem;
        font-size: 1.7rem;
    }
    .form-row input {
        width: 11rem;
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 768px) {
    /*-----Nav Menu-----*/
    .navbar {
        height: 5rem;
        border-top: 5px solid goldenrod;
        border-bottom: 5px solid goldenrod;
    }
    nav h1 a {
        position: relative;
        right: 19rem;
        bottom: 0.5rem;
        font-size: 4.5rem;
    }
    nav .dropdown {
        border: 5px solid goldenrod;
        position: relative;
        top: 1rem;
    }
    nav .dropdown i {
        font-size: 2.9rem;
    }
    nav .dropdown-menu{
        border: 5px solid goldenrod;
    } 
    .dropdown-divider {
        height: 5px;
    }
    nav li a {
        font-size: 3.5rem;
    }
    .carousel-item img {
        height: 28rem;
    }
    .carousel-caption h2 {
        position: relative;
        top: 2rem;
        font-size: 3rem;
    }
    .overlay {
        height: 6rem;
        position: relative;
        top: -6rem;
    }
    /*-----Box Info-----*/
    .box-info {
        position: relative;
        bottom: 6rem;
        border: 5px solid white;
        border-bottom: 5px solid black;
        border-right: 5px solid black;
    }
    .box-info h3 {
        font-size: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 3.5rem;
    }
    .box-info a {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 2.5rem;
    }
    .icon{
        font-size: 2rem;
        position: relative;
        right: 1rem;
    }
    .ico{
        font-size: 2rem; 
        position: relative;
        right: 1rem; 
    }
    /*-----Start Table Vista-----*/
    section.table-vista {
        border: 5px solid black;
        background-color: goldenrod;
        height: 12rem;
    }
    section div.table-title {
        background-color: white;
        width: 80%;
        height: 3rem;
    }
    .table-title h2 {
        color: goldenrod;
        height: 4rem;
        position: relative;
        bottom: 1rem;
        font-size: 3.5rem;
        border: 5px solid black;
    }
    section a {
        font-size: 3rem;
        position: relative;
        left: 7rem;
        bottom: 0.5rem;
    }
    /*Formulaire de Reservation*/
    .container{
        max-height: 30rem;
    }
    #card-img {
        height: 30rem;
    }
    #reservation {
        position: relative;
        left: 4rem;
        padding: 1.5rem 7rem;
        font-size: 3rem;
        border: 5px solid goldenrod;
    }
    .card-content h3 {
        font-size: 3.5rem;
    }
    .card-content {
        width: 95%;
        height: 28rem;
        position: relative;
        bottom: 29rem;
        left: 1rem;
    }
    .form-row select {
        width: 19.7rem;
        font-size: 2.5rem;
        border: 5px solid white;
        border-top: 5px solid goldenrod;
        border-left: 5px solid goldenrod;
        margin-top: 1rem;
    }
    .form-row input {
        width: 19.7rem;
        font-size: 2.5rem;
        border: 5px solid white;
        border-top: 5px solid goldenrod;
        border-left: 5px solid goldenrod;
        margin-top: 2rem;
    }
    #submit{
        font-size: 2.5rem;
        color: white;
        font-weight: 700;
        border: 5px solid white;
        border-top: 5px solid goldenrod;
        border-left: 5px solid goldenrod;
        margin-top: 4rem;
    }
    .chef-img img{
        width: 96%;
        height: 30rem;
        margin-left: 1.5rem;
        margin-top: 2rem;
    }
    /*-----Footer-----*/
    footer {
        margin-top: 2rem;
        height: 17rem;
    }
    .row{
        text-align: left;
    }
    #col-1 p{
        text-align: left;
        margin-top: 1rem;
        font-size: 2rem;
    }
    #col-1 i{
        margin-top: 1rem;
        font-size: 2rem;
    }
    #col-2{
        text-align: center;
        margin-top: 2rem;
        font-size: 3rem;
    }
    #col-3{
        text-align: center;
        font-size: 2rem;
        position: relative;
        top: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    /*-----Nav Menu-----*/
    .navbar {
        height: 6rem;
    }
    nav h1 a {
        position: relative;
        right: 53rem;
        bottom: 0.1rem;
        font-size: 3.5rem;
    }
    nav .dropdown{
        visibility: hidden;
    }
    .carousel-item img {
        height: 35rem;
    }
    .carousel-caption h2 {
        position: relative;
        top: 2rem;
        font-size: 2.5rem;
    }
    .overlay {
        height: 6rem;
        position: relative;
        top: -6rem;
    }
    #menu-lg{
        display: inline-block;
    }
    #menu-lg a{
        font-size: 2rem;
        text-decoration: none;
        color: white;
        position: relative;
        left: 15rem;
        bottom: 0.5rem;
    }
    #menu-lg-item{
        margin-right: 2.5rem;
    }
    /*-----Box Info-----*/
    .box-info {
        position: relative;
        bottom: 6rem;
        border: 5px solid white;
        border-bottom: 5px solid black;
        border-right: 5px solid black;
    }
    .box-info h3 {
        font-size: 2rem;
        margin-left: 10rem;
    }
    .box-info a {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        width: 50%;
    }
    #hour{
        display: inline-block;
        position: relative;
        bottom: 22.5rem;
        left: 40rem;
        width: 20rem;
        text-align: center;
    }
    #hour h3{
        font-size: 2rem;
        font-weight: 600;
    }
    #hour p {
        font-size: 1.5rem;
    }
    /*-----Start Table Vista-----*/
    section.table-vista {
        border: 4px solid black;
        height: 12rem;
        position: relative;
        bottom: 16rem;
    }
    .table-title h2 {
        color: goldenrod;
        height: 4rem;
        position: relative;
        bottom: 1rem;
        font-size: 3rem;
        border: 4px solid black;
    }
    section a {
        font-size: 2.5rem;
        position: relative;
        left: 10rem;
        bottom: 0.5rem;
        margin-right: 8rem;
    }
    /*Formulaire de Reservation*/
    .container{
        position: relative;
        bottom: 8rem;
        max-height: 30rem;
    }
    #card-img {
        height: 30rem;
    }
    #reservation {
        position: relative;
        left: 2rem;
        bottom: 12rem;
        padding: 1rem 7rem;
        font-size: 2rem;
        border: 4px solid goldenrod;
    }
    .card-content h3 {
        font-size: 3rem;
    }
    .card-content {
        width: 95%;
        height: 28rem;
        position: relative;
        bottom: 29rem;
        left: 1rem;
    }
    .form-row select {
        width: 26.8rem;
        font-size: 2rem;
        border: 4px solid white;
        border-top: 4px solid goldenrod;
        border-left: 4px solid goldenrod;
        margin-top: 1rem;
    }
    .form-row input {
        width: 26.8rem;
        font-size: 2rem;
        border: 4px solid white;
        border-top: 4px solid goldenrod;
        border-left: 4px solid goldenrod;
        margin-top: 2rem;
    }
    .chef{
        max-height: 25rem;
    }
    .chef-img img{
        width: 60%;
        height: 30rem;
        position: relative;
        bottom: 22rem;
    }
    .chef-info{
        display: inline-block;
        width: 35%;
        position: relative;
        bottom: 8rem;
        left: 1rem;
    }
    .chef-info h5{
        font-size: 2.5rem;
    }
    .chef-info p {
        font-size: 1.5rem;
    }
    /*-----Footer-----*/
    footer {
        position: relative;
        margin-top: 2rem;
        height: 18rem;
    }
    .row{
        position: relative;
        top: 8rem;
    }
    #footer-text{
        display: inline-block;
        text-align: center;
    }
    #footer-text h6{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    #footer-text span i{
        font-size: 0.5rem;
        position: relative;
        bottom: 0.3rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    #col-1 p{
        font-size: 1.5rem;
        position: relative;
        bottom: 1rem;
    }
    #col-1 i{
        font-size: 1.5rem;
    }
    #col-2{
       font-size: 3rem;
    }
    #col-3{
       font-size: 1rem; 
       position: relative;
       bottom: 5rem;
    }
}

@media screen and (min-width: 1224px) {
    nav h1 a {
        right: 65rem;
    }
    .chef{
        position: relative;
        top: 8rem;
    }
    .chef-info{
        position: relative;
        bottom: 15rem;
    }
    /*Formulaire de Reservation*/
    #reservation {
        position: relative;
        bottom: 10rem;
        left: 2rem;
        transition: left 1s;
    }
    #reservation:hover {
        left: 4.5rem;
        transition: left 1s;
    }
    #card-img {
        height: 30rem;
        width: 65%;
        position: relative;
        bottom: 1rem;
    }
    .card-content {
        left: 0.8rem;
        bottom: 30rem;
        width: 43.8rem;
    }
    .card-content h3 {
        font-size: 3rem;
    }
    .form-row select {
        width: 21rem;
    }
    .form-row input {
        width: 21rem;
    }
}

@media screen and (min-width: 1440px) {
    nav h1 a {
        position: relative;
        right: 80rem;
        bottom: 0.1rem;
        font-size: 4rem;
    }
    #menu-lg a{
        position: relative;
        left: 27rem;
        bottom: 0.5rem;
    }
    .carousel-item img {
        height: 41rem;
    }
    #hour{
        display: inline-block;
        position: relative;
        bottom: 22.5rem;
        left: 60rem;
        width: 20rem;
        text-align: center;
    }
    /*-----Start Table Vista-----*/
    section.table-vista {
        border: 4px solid black;
        height: 12rem;
        position: relative;
        bottom: 12rem;
        width: 60%;
    }
    section div.table-text{
        display: inline-block;
        width: 50%;
        position: relative;
        left: 56rem;
        bottom: 11rem;
    }
    section div.table-text h3 {
        font-size: 2.5rem;
    }
    section div.table-text p {
        font-size: 2rem;
    }
    /*Formulaire de Reservation*/
    #reservation {
        position: relative;
        bottom: 10rem;
    }
    .chef-img img{
        position: relative;
        bottom: 15rem;
    }
    .form-row select {
        width: 37.5rem;
    }
    .form-row input {
        width: 37.5rem;
    }
}
