* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Josefin Slab', serif;
}
body {
    width: 100%;
    max-width: 100%;
    background-color: white;
}
/*------Nav Menu------*/
.navbar {
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: black;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}
/*Button Dropdown*/
nav .dropdown {
    background-color: black;
    border: 2px solid goldenrod;
    z-index: 2;
    position: relative;
    top: 0.5rem;
}
nav .dropdown i {
    color: goldenrod;
}
/*Menu Dropdown*/
nav .dropdown-menu{
    border: 2px solid goldenrod;
    border-radius: 3rem;
    background-color: white;
    position: absolute;
    width: auto;
} 
.dropdown-divider {
    background-color: goldenrod;
    height: 2px;
}
nav li a {
    font-size: 2rem;
}
nav .dropdown li i {
    color: goldenrod;
    font-size: 2.5rem;
}
/*Title*/
nav h1 a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    position: relative;
    right: 7rem;
    bottom: 0.3rem;
}
nav h1 a:hover {
    color: white;
}
/*------End Nav Menu------*/

/*------Start Slider-----*/
.carousel-item img {
    height: 20rem;
}
.carousel-caption h2 {
    position: relative;
    top: 2rem;
    z-index: 1;
    color: white;
}
.overlay {
    width: 100%;
    height: 4rem;
    background: #000;
    opacity: 0.4;
    position: relative;
    top: -4rem;
}
/*-----End Slider-----*/

/*-----Start Box-Info-----*/
.box-info {
    width: 100%;
    height: 12rem;
    position: relative;
    bottom: 4rem;
    background: goldenrod;
    border: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.box-info h3 {
    color: black;
    margin-left: 2rem;
    margin-top: 0.5rem;
    font-weight: 600;
}
.box-info a {
    display: inline-flex;
    text-decoration: none;
    color: black;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.icon{
    margin-right: 0.2rem;
}
.ico{
    margin-right: 0.2rem;
    position: relative;
    top: 0.2rem;
}
/*-----End Box-Info-----*/

/*-----Start Table Vista-----*/
section.table-vista {
    background-color: white;
    width: 100%;
    height: 6rem;
    position: relative;
    bottom: 2rem;
    border: 2px solid goldenrod;
}
section div.table-title {
    background-color: white;
    width: 80%;
    height: 2rem;
    position: relative;
    bottom: 1rem;
    left: 2rem;
}
.table-title h2 {
    color: goldenrod;
    height: 2.5rem;
    position: relative;
    font-size: 2rem;
    text-align: center;
    border: 2px solid black;
}
section a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    position: relative;
    left: 1rem;
    bottom: 0.5rem;
}
section a:hover{
    color: black;
}
/*-----End Table Vista-----*/

/*-----Button Reservation-----*/
#reservation {
    color: white;
    background-color: black;
    font-size: 1.5rem;
    border: 2px solid goldenrod;
    position: relative;
    left: 2.5rem;
}
.container{
    max-height: 15rem;
    margin-bottom: 1rem;
}
#card-img {
    height: 15rem;
    margin-top: 0.5rem;
}
/*Formulaire de Reservation*/
.card-content {
    display: inline-block;
    position: relative;
    left: 0.8rem;
    bottom: 14.2rem;
    border: 2px solid goldenrod;
    padding: 10px;
}
.card-content h3 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.form-row select {
    color: white;
    background-color: transparent;
    padding: 8px 12px;
    border: 2px solid goldenrod;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    font-size: 1.3rem;
    width: 7.5rem;
}
#option {
    color: black;
    background-color: white;
}
.form-row input {
    color: white;
    border: 2px solid goldenrod;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 8px 12px;
    width: 7.5rem;
    margin-top: 0.5rem;
    background-color: transparent;
    font-size: 1.3rem;
}
::-webkit-input-placeholder {
    color: white;
  }
#submit{
    width: 100%;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid white;
}
#submit:hover{
    background-color: white;
    color: black;
}
/*Chef Info*/
.chef-img{
    width: 92.5%;
    margin-left: 0.75rem;
}
.chef-info {
    display: none;
}
/*-----End Button Reservation-----*/

/*-----Footer-----*/
footer {
    margin-top: 0.5rem;
    height: 9rem;
    background: #000;
    color: white;
}
.row{
    text-align: left;
    font-size: 0.8rem;
}
#col-1{
    text-align: left;
    margin-top: 1rem;
}
#col-2{
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}
#col-3{
    margin-top: 1rem;
}

